body {
  margin: 0;
  background: #818181;
}

h1 {
  font-family: "Work Sans", sans-serif;
}

p {
  font-family: "Bitter", serif;
}

/* loader */
.loader_img {
  width: 25vw;
  position: absolute;
  top: 25vh;
  left: 37.5vw;
}

@media only screen and (max-width: 600px) {
  .loader_img {
    width: 70vw;
    position: absolute;
    top: 25vh;
    left: 15vw;
  }
}

.loader {
  position: fixed;
  z-index: 555;
  height: 100vh;
  width: 100vw;
  background-color: rgb(248, 255, 248);
}

/* social icons */
.social_links {
  z-index: 5;
  position: fixed;
  left: 4rem;
  bottom: 4rem;
}

.social_links i {
  margin-top: 1.5rem;
  color: white;
  font-size: 2rem;
}

/* navbar new */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*  */

.hamburger {
  z-index: 20;
  font-size: 30px;
  position: fixed;
  right: 0;
  top: 0;
  margin: 4rem;
}

.hamburger .line {
  width: 2.7rem;
  height: 0.4rem;
  background-color: #ecf0f1;
  display: block;
  margin: 0.5rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-11 {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-11.is-active {
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig {
  0%,
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

#hamburger-11.is-active .line:nth-child(1),
#hamburger-11.is-active .line:nth-child(2),
#hamburger-11.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#hamburger-11.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-11.is-active .line:nth-child(1) {
  -webkit-transform: translateY(0.91rem) rotate(45deg);
  -ms-transform: translateY(0.91rem) rotate(45deg);
  -o-transform: translateY(0.91rem) rotate(45deg);
  transform: translateY(0.91rem) rotate(45deg);
}

#hamburger-11.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-0.91rem) rotate(-45deg);
  -ms-transform: translateY(-0.91rem) rotate(-45deg);
  -o-transform: translateY(-0.91rem) rotate(-45deg);
  transform: translateY(-0.91rem) rotate(-45deg);
}

/* container */
#container {
  overflow-x: hidden;
  height: 100vh;
}

/* landing page */

.cloud1 {
  width: 13vw !important;
  position: absolute;
  z-index: 5;
  left: 30%;
  top: 28%;
  animation-name: translate-horizontal;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.cloud2 {
  width: 13vw !important ;
  position: absolute;
  z-index: 5;
  animation-name: translate-horizontal;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  left: 42%;
  top: 24%;
}

.cloud3 {
  width: 13vw !important;
  position: absolute;
  z-index: 5;
  animation-name: translate-horizontal;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  top: 29%;
  left: 57%;
}

#landing {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

.view {
  width: 100vw;
}
.view-after {
  position: absolute;
  width: 50%;
}

.wrapper-after {
  overflow: hidden;
}

.birdimg {
  /* display: flex; */
  /* justify-content: center; */
  width: 100vw;
  text-align: center;
}

.birdimg img {
  width: 60vw;

  height: auto;
  animation-name: translate;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.ui-resizable-e {
  width: 10px !important;
  top: 50% !important;
  height: 15px !important;
}

/* about us */
.aboutcontainer {
  position: relative;
}

.about-img {
  position: absolute;
  top: 0;
  left: 5vw;
  width: 75%;
  height: 75%;
}

.image-info p {
  font-size: 2rem;
}

.about-heading {
  position: absolute;
  z-index: 999999;
  color: white;
  height: 100vh;
  top: 30vh;
  width: 100vw;
  text-align: center;
  font-size: 206px;
}

#about-wrapper {
  position: absolute;
  top: 40vh;
  width: 100vw;
  text-align: center;
  color: white;
  opacity: 0;
}

#about-wrapper2 {
  position: absolute;
  top: 40vh;
  width: 100vw;
  text-align: center;
  color: white;
}
#about-wrapper3,
#about-wrapper4,
#about-wrapper5,
#about-wrapper6 {
  position: absolute;
  top: 40vh;
  width: 100vw;
  text-align: center;
  color: white;
  opacity: 1;
}

.hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}

.grid__item {
  background: transparent;
  height: 100%;
  margin: 20px;
  padding: 100px 0;
  z-index: 1;
  position: absolute;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  bottom: 50%;
}

.rightshift {
  padding-left: 24%;
}

.ml13 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 600;
}

.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}

/* events */

.event_box {
  padding: 10% 20%;
}

.events_illst {
  /*width: 50%;
  padding: 2rem 0;
  padding-left: 10%;*/
  position: relative;
}

.events_illst .image {
  position: absolute;
  top: 0;
  z-index: 2;
}

/* .events_illst .image img {
  height: auto;
  width: 28vw;
} */

.events_txt {
  /*width: 45%;*/
  padding-top: 20rem;
  padding: 2rem;
  padding-right: 5%;
  margin-top: 5rem;
  text-align: center;
}

.events_txt h1 {
  font-size: 3.7rem;
  padding-bottom: 1.5rem;
}

.events_txt p {
  font-size: 2rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* major attractions */
.mjrattractions {
  padding-bottom: 10%;
}

/* sponsors */
.sponsors_head {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 8rem;
}

.sponsors_content {
  height: 100%;
  background-color: white;
  padding: 10%;
}

.sponsors_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img_holder {
  width: auto;
  height: 40px;
  margin: 4rem 5rem;
}

/* team  */
.team {
  position: relative;
  background-color: #ff5656;
  padding-bottom: 10vh;
}

.team_container {
  margin: 0 10vw;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  /* margin-bottom: 0; */
  margin: 10vh 13vw;
  margin-bottom: 0;
  box-shadow: 0 0px 114px #0000007a;
}

.content h3 {
  padding-top: 1.2rem;
  text-align: center;
  font-weight: bolder;
  color: rgba(15, 15, 15, 0.6);
}

.team_box {
  padding: 10vh 10px;
}

.card {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 4rem;
  border: none;
}

.content p {
  font-size: 1.3rem;
  margin: 0;
  padding: 0.25rem 0;
  text-align: center;
  font-weight: bolder;
  color: rgba(15, 15, 15, 0.4);
}

@media only screen and (max-width: 768px) {
  .card img {
    width: "100%";
    height: auto;
  }
}

@media only screen and (min-width: 769px) {
  .card img {
    width: "100%";
    height: auto;
  }
}

.fa {
  padding: 0 0.5rem;
}

/* */

.scroller-right {
  position: absolute;
  right: 20px;
  bottom: 15%;
  z-index: 55;
  padding: 20px;
  border: 2px solid;
  background: orange;
}

.scroller-left {
  position: absolute;
  left: 20px;
  bottom: 15%;
  z-index: 55;
  padding: 20px;
  border: 2px solid;
  background: orange;
}

.fluidbig {
  z-index: 0;
  position: absolute;
  top: -50px;
  left: -50px;
  width: 20vw;
  height: 20vw;
  background: #00e6ea;
  margin: 0 auto 0 0;
  border-radius: 50%;
  animation: rotate 30s infinite;
}

/* mobile screen */

@media screen and (max-width: 600px) {
  /*landing */

  .birdimg img {
    width: 60vw;
    height: 60vw;
  }

  .view-after {
    border-right: 2px solid orange;
  }

  .ui-resizable-e {
    background: url(http://i.stack.imgur.com/Xkiaa.png) no-repeat;
  }

  /* navbar */

  .fluidRight {
    left: +50px !important;
  }

  /* ilustration txt */
  .link--kukuri {
    font-size: 3.5em;
  }

  .scroller-right,
  .scroller-left {
    display: none;
  }

  /* events */
}

@media screen and (max-width: 600px) {
  .social_links {
    left: 2rem;
    bottom: 2rem;
  }

  .hamburger {
    margin: 2rem;
  }

  .events_illst .image img {
    height: auto;
    width: 80%;
    position: relative;
    left: 10%;
  }

  .overlay a {
    font-size: 3rem;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .fluidbig {
    z-index: 0;
    position: absolute;
    top: -50px;
    left: 10vw;
    width: 80vw;
    height: 80vw;
    background: #00e6ea;
    margin: 0 auto 0 0;
    border-radius: 50%;
    animation: rotate 30s infinite;
  }

  .event_box {
    margin-top: 100px;
    padding: 10px;
  }

  .mobile-height {
    height: 45vh;
  }

  .fluidRight {
    left: 10vw !important;
  }
}

@media screen and (min-width: 600px) {
  .events_illst .image img {
    height: auto;
    width: 28vw;
  }

  .event_box {
    margin-top: 0px;
  }

  .fluidbig {
    z-index: 0;
    position: absolute;
    top: -50px;
    left: -50px;
    width: 25vw;
    height: 25vw;
    background: #00e6ea;
    margin: 0 auto 0 0;
    border-radius: 50%;
    animation: rotate 30s infinite;
  }

  .overlay a {
    font-size: 4rem;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .fluidRight {
    left: +100px !important;
  }
}

/* animation */
/* main anim */
@keyframes translate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes translate-horizontal {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
